
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #0A3D62;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 60px;
  border-radius: 50%;
}

.logo h2 {
  margin-top: 10px;
  font-size: 18px;
}

.logo p {
  font-size: 12px;
  color: white;
}

.menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* dashboard menu  */
.menu-item {
  background: white;
  color: black;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.menu-item.active {
  background: #82ccdd;
  color: white;
}

.menu-item:hover {
  background: white;
  color: white;
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* settings and logout  */
.bottom-menu a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

/* Main content */
.main {
  flex: 1;
  padding: 25px 40px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 26px;
}

.header p {
  font-size: 13px;
  color: gray;
}
/* register new meter button  */
.add-btn {
  background-color: #82ccdd;
  color: black;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.filters input,
.filters select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.filters input {
  flex: 1;
}
/*table  */
table {
  width: 100%;
  background: #f5f6fa;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 14px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #f2f4f8;
}

tr:nth-child(even) {
  background-color: #f9fbfc;
}

a {
  color: #0077b6;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.pagination button {
  border: none;
  background: #f5f6fa;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.pagination span {
  font-size: 14px;
  color: gray;
}