@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: "IBM Plex Sans";
    background: white;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #0A3D62;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

/* Form Container */
.container {
    background: #e0f2f8;
    width: 75%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.form-group {
    width: 48%;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: 'IBM Plex Sans';
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    font-family: 'IBM Plex Sans';
    background-color: #F5F6FA;
}

input:focus, select:focus {
    border-color: #0A3D62;
}

/* Buttons */
.add-btn, .add-backbtn {
    width: 180px;
    padding: 12px;
    background: #E58E26;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: 25px auto 0;
    font-weight: 600;
    font-family: 'IBM Plex Sans';
}

.add-btn:hover, .add-backbtn:hover {
    background: #cf7c20;
}
