@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family:"IBM Sans Plex";
    background: white;
}

/* Center Container */
.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #e0f2f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Form Header */
.welcome-text {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'IBM Plex Sans';
  }

.welcome-text h1 {
    margin: 0;
    font-size: 28px;
    color: #2c3e50;
}

.welcome-text p {
    margin-top: 5px;
    font-size: 16px;
    color: #7f8c8d;
}

/* Form Container */
.form-container {
    width: 100%;
}

/* Form Row - 2 columns */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 18px;
    width: 100%;
}

label {
    display: block;
    font-weight: 600;
      font-size: 17px;
      font-family: 'IBM Plex Sans';
    color:black;
    margin-bottom: 6px;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px;
    border-radius: 6px;
    background: #F5F6FA;
    transition: 0.2s;
}

input:focus {
    border-color: none;
    outline: none;
    background: #F5F6FA;
}

/* Buttons */
.btn {
    width: 50%;
    padding: 12px;
    margin: 10px auto;   
    display: block;  
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


/* Back Button */
.btn-back {
    background: #E58E26;
    color: white;
    font-family: "IBM Plex Sans";
    font-weight: 600;
}

.btn-back:hover {
    background: #E58E26;
}

/* Register Button */
.btn-register {
    background: #E58E26;
    color: white;
    font-family: "IBM Plex Sans";
    font-weight: 600;
}

.btn-register:hover {
    background: #E58E26;
}

/* Responsive */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}
