@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');



body {
  background: white;
  font-family: 'IBM Plex Sans';
  margin: 0;
}

.container {
  display: flex;
  background-color: white;
}

/* -------- Sidebar -------- */
.sidebar {
  width: 250px;
  background: #073b63;
  height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo span {
  font-size: 14px;
  color: #d6e6f5;
}

.menu-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  background: white;
  color: #073b63;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.menu-btn.active {
  background: #b6e2f5;
}

.menu-btn.small {
  background: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 10px;
}

/* -------- Main Content -------- */
.main {
  flex: 1;
  padding: 40px;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.card {
  background: #e0f2f8;
  padding: 25px;
  border-radius: 10px;
  width: 800px;
}

.card h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: "IBM Plex Sans";
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'IBM Plex Sans';
  color: black;
}

input,
select {
  padding: 10px;
  border-radius: 10px;
  border: 1px ;
  outline: none;
  font-size: 15px;  
  font-family: 'IBM Plex Sans';
  background-color: #F5F6FA;
}

.buttons {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cancel-btn {
  padding: 10px 25px;
  background: #F5F6FA;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'IBM Plex Sans';
  font-size: 15px;
  font-weight: 600;
}

.submit-btn {
  padding: 10px 25px;
  background: #E58E26;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'IBM Plex Sans';
  font-size: 15px;
  font-weight: 600;
}