@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "IBM Plex Sans";
    }

    body {
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 900px;
      height: 550px;
      background: #e0f2f8;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }

    .left {
      width: 45%;
      background: #0A3D62;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #d6e5f3;
    }

    .left img {
      width: auto;
      height: 360px;
      border-radius: 10px;
      object-fit: contain;
    }

    .left p {
      margin-top: 15px;
      text-align: center;
      font-size: 15px;
      font-family: "IBM Plex Sans";
      font-weight: 600;
      color: white;
      opacity: 0.8;
    }

    .right {
      width: 55%;
      padding: 50px;
    }

    .right h2 {
      font-size: 30px;
      font-family: "IBM Plex Sans";
      font-weight: 600;
      color: black;
    }

    .right small {
      color: #7b8a97;
      font-size: 15px;
      font-family: "IBM Plex Sans";
    }

    .input-group {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
    }

    .input-group label {
      font-size: 15px;
      font-family: "IBM Plex Sans";
      margin-bottom: 5px;
      font-weight: 600;
    }

    .input-group input {
      padding: 12px;
      border-radius: 10px;
      border: 1px ;
      font-size: 15px;
      outline: none;
      transition: 0.2s;
      background-color: #F5F6FA;
    }

    .input-group input:focus {
      border-color: none;
    }

    .btn {
      margin-top: 30px;
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 10px;
      font-family: "IBM Plex Sans";
      font-size: 15px;
      cursor: pointer;
      font-weight: 600;
    }

    .btn-primary {
      background: #E58E26;
      color: white;
    }

    
  