@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "IBM Plex Sans";
}

/* Layout Container */
.container {
    display: flex;
    height: 100vh;
    background-color: white;
}


.sidebar {
    width: 300px;
    background-color: #0A3D62;
    color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.sidebar h2 p {
    font-size: 8px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    margin-top: -8px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
}

.sidebar h2 img {
    width: 40px;
    height: 40px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 25px;
    margin: 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.sidebar ul li img {
    width: 40px;
    height: 40px;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar ul li.active {
    background-color: rgba(255, 255, 255, 0.15);
    border-left: 4px solid white;
    padding-left: 20px;
}

/* Logout Button */
.logout-section {
    padding: 20px;
}

.logout-btn {
    width: 100%;
    background-color: #E58E26;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.25s;
}

.logout-btn:hover { background-color: #E58E26; }
.logout-btn:active { background-color: #E58E26; }


.main {
    flex: 1;
    padding: 25px 40px;
    overflow: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 20px;
    font-weight: 600;
}

.header p {
    margin-top: 3px;
    font-size: 13px;
    color: #555;
    font-family: "IBM Plex Sans";
}

/* Add Button */
.add-btn {
    background-color: #E58E26;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-family: "IBM Plex Sans";
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #E58E26;
}



.search-bar {
    position: relative;
    margin: 20px 0;
}

.search-bar input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid rgba(3,45,61,0.06);
    background-color: #F5F6FA;
    font-size: 15px;
    outline: none;
}

.search-bar input:focus {
    border-color: black;
}

.search-bar i {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}



table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    background-color: #e0f2f8;
    overflow: hidden;
    box-shadow: 0 8px 28px rgba(2, 6, 23, 0.06);
}

thead {
    background-color: #e0f2f8;
}

th, td {
    padding: 14px 18px;
    font-size: 14px;
    border-bottom: 1px solid #e0f2f8;
    text-align: left;
}

th {
    color: black;
    font-weight: 600;
    font-family: "IBM Plex Sans";
}

td {
    color: black;
    font-family: "IBM Plex Sans";
}

tr:last-child td {
    border-bottom: none;
}



.pagination {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination span {
    font-size: 14px;
    color: black;
}

.pages {
    display: flex;
    gap: 8px;
}

.pages button {
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
    color: #0077aa;
    padding: 6px 10px;
    transition: 0.2s;
    border-radius: 6px;
}

.pages button.active {
    background-color: #e0f2f8;
    font-weight: 700;
    color: #07506a;
}

.pages button:hover {
    color: #07506a;
}
