         body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
        }

        .left {
            width: 40%;
            background: #0A3D62;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
        }

        .left button {
            margin-TOP:120px;
            background: #E58E26;
            border: none;
            padding: 12px 140px;
            color: white;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
        }

        .right {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h2 {
            margin-bottom: 25px;
        }

        .otp-box {
            display: flex;
            gap: 10px;
            margin: 10px;
        }

        .otp-box input {
            width: 60px;
            height: 60px;
            font-size: 25px;
            text-align: center;
            border: 2px solid #90D3E9;
            border-radius: 6px;
            outline: none;
            background: #B4DEEB;
        }

        .verify-btn {
            background: #0A3D62;
            border: none;
            padding: 12px 140px;
            color: white;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            margin-top: 100px;
        }

        .resend-btn {
            margin-top: 10px;
            border: none;
            background: #F5F6FA;
            padding: 8px 140px;
            border-radius: 6px;
            cursor: pointer;
        }