@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
         
         
         body {
            margin: 0;
            font-family: "IBM Plex Sans";
            display: flex;
            height: 100vh;
        }

        .left {
            width: 40%;
            background: #0A3D62;
            color: white;
            font-family: "IBM Plex Sans";
            font-weight: 600;
            font-size: 17px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
        }

        .left button {
            margin-TOP:120px;
            background: #E58E26;
            border: none;
            padding: 12px 140px;
            color: white;
            border-radius: 30px;
            cursor: pointer;
            font-size: 15px;
            font-family: "IBM Plex Sans";
            font-weight: 600;
        }

        .right {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #e0f2f8;
        }

        h2 {
            margin-bottom: 25px;
            font-weight: 600;
            font-size: 25px;
            font-family: "IBM Plex Sans";
        }

        .otp-box {
            display: flex;
            gap: 10px;
            margin: 10px;
        }

        .otp-box input {
            width: 60px;
            height: 60px;
            font-size: 20px;
            text-align: center;
            border: 2px ;
            border-radius: 10px;
            outline: none;
            background: #F5F6FA;
        }

        .verify-btn {
            background: #E58E26;
            border: none;
            padding: 12px 140px;
            color: white;
            border-radius: 30px;
            cursor: pointer;
            font-size: 15px;
            font-family: "IBM Plex Sans";
            font-weight: 600;
            margin-top: 100px;
        }

        .resend-btn {
            margin-top: 10px;
            border: none;
            background:#E58E26;
            color: white;
            padding: 14px 140px;
            border-radius: 30px;
            cursor: pointer;
            font-size: 15px;
            font-family: "IBM Plex Sans";
            font-weight: 600;

        }