* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fb;
}

.container {
  display: flex;
}

/* -------- Sidebar -------- */
.sidebar {
  width: 250px;
  background: #073b63;
  height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo span {
  font-size: 14px;
  color: #d6e6f5;
}

.menu-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  background: white;
  color: #073b63;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.menu-btn.active {
  background: #b6e2f5;
}

.menu-btn.small {
  background: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 10px;
}

/* -------- Main Content -------- */
.main {
  flex: 1;
  padding: 40px;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 800px;
}

.card h3 {
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.buttons {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cancel-btn {
  padding: 10px 25px;
  background: #d6d6d6;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.submit-btn {
  padding: 10px 25px;
  background: #073b63;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}