body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    background-color: #f0f4f8; 
    color: #1a202c; 
}

.app-container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 300px;
    background-color: #0a2d4d; 
    color: white;
    padding: 30px;
    flex-shrink: 0; 
}

.sidebar-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.nav-button {
    display: block;
    width: 100%;
    padding: 18px 25px;
    background-color: transparent;
    border: 1px solid #3e6b98; 
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover,
.nav-button.active {
    background-color: #1b4975; 
    border-color: #1b4975;
}

/*Search bar content*/
.filter-bar {
    background-color: #0a2d4d; 
    border-radius: 12px;
    padding: 20px 25px;
    color: white;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-end; 
    gap: 20px;
    margin-bottom: 30px; 
}